:root {
	--primary-colour: #e20f37;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #fff;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	margin-top: 1rem;
}

a {
	color: var(--primary-colour);
	font-weight: 400;
}

a:hover,
button:hover {
	cursor: pointer;
}

html {
	width: 100%;
	min-height: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body {
	background-color: #000;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
}

figure {
	margin: 0;
}

.logo {
	width: 50px;
	height: 50px;
}

header {
	position: fixed;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
}

header,
main {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	scroll-snap-align: start;
	scroll-padding-top: 100px;
	position: relative;
}

.hero article p {
	font-weight: 300;
}

.hero figure img {
	max-height: 50vh;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	overflow: hidden;
}
.list-style-none {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav {
	z-index: 900;
}

.vertical-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100vh;
	height: 100px;
	position: fixed;
	transform: rotate(-90deg) translateX(100px) translateY(calc(-100vh + 100px));
	display: flex;
	align-items: center;
	transform-origin: bottom right;
	padding-left: 20px;
}

.vertical-nav li {
	margin-left: 1.5rem;
}

.vertical-nav li a {
	white-space: nowrap;
	color: #fff;
	padding: 0.5rem 0;
	text-decoration: none;
}

.vertical-nav li a:active,
.vertical-nav li a:hover,
.active {
	border-bottom: 2px solid var(--primary-colour);
}

.social-nav {
	position: fixed;
	bottom: 40px;
	right: 0;
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.social-nav a {
	display: inline-block;
	padding: 1rem;
	border-left: 2px solid transparent;
}

.social-nav a:hover {
	border-left: 2px solid var(--primary-colour);
}
.social-nav img {
	/* width: 20px;
	height: 20px;
	transform: rotate(-90%); */
}

.arrow {
	display: inline-block;
	transition: transform 0.5s;
	transform: translateX(0px);
}

.arrow-left {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: var(--primary-colour);
	box-sizing: border-box;
	width: 12px;
	height: 12px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	margin: 10px;
	transform: rotate(45deg);
}

.arrow-left::after,
.arrow-left::before {
	content: "";
	box-sizing: border-box;
}

.arrow-left::before {
	right: 0;
	top: -2px;
	position: absolute;
	height: 2px;
	box-shadow: inset 0 0 0 32px;
	transform: rotate(-45deg);
	width: 20px;
	transition: width 0.5s;
	transform-origin: right top;
}

.hero-link:hover .arrow {
	transform: translateX(30px);
}

.hero-link:hover .arrow-left::before {
	transition: width 0.5s;
	width: 35px;
}

.decorators img {
	position: absolute;
}

.decorator-rect {
	top: -150px;
	left: -480px;
}

.decorator-square {
	top: -180px;
	right: -460px;
}

.decorator-triangle {
	bottom: -150px;
	right: 0px;
}

.contact article {
	width: 45%;
}

h2 {
	font-size: 2rem;
	font-weight: 400;
}

.detail {
	margin: 1.5rem 0;
	display: flex;
	justify-content: space-between;
	color: #666;
}

.detail > * {
	width: 45%;
}

.detail .title {
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.detail .content {
	font-size: 0.9rem;
}

.contact-form {
	width: 100%;
	max-width: 400px;
	float: right;
}

.contact-form input,
.contact-form textarea {
	height: 50px;
	color: #fff;
	display: block;
	margin: 1.5rem 0;
	width: 100%;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #666;
	font-size: 0.9rem;
}
.contact-form textarea {
	height: 100px;
	resize: none;
}

.contact-form button {
	background-color: var(--primary-colour);
	color: #fff;
	padding: 0.75rem 2rem;
	border: none;
	border-radius: 10px;
}

@media screen and (max-width: 991px) {
	main {
		padding: 0 2rem;
	}
	.contact-form input {
		margin: 2rem 0;
	}
}
