:root {
	--primary-colour: #e20f37;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #fff;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	margin-top: 1rem;
}

a {
	color: var(--primary-colour);
	font-weight: 400;
}

a:hover,
button:hover {
	cursor: pointer;
}

html {
	width: 100%;
	min-height: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	/*
		There exists a bug in Firefox that causes main container to
		shift to left when the scrollbar is clicked.

		::-webkit-scrollbar is a nonstandard pseudoselector that works on
		webkit browsers (Safari, Chrome, ...). In cosmic convenience, the
		only standards-compliant browser that implements the `scrollbar-width`
		rule is Firefox. This rule will hide the scrollbar, but only on
		Firefox.

		If this issue is no longer reproduceable in a future version,
		this rule should be removed.
	*/
	scrollbar-width: none;
}

body {
	background-color: #000;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
}

h2 {
	font-size: 2rem;
	font-weight: 400;
}

figure {
	margin: 0;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.h-0 {
	height: 0 !important;
}

.w-0 {
	width: 0 !important;
}

.logo {
	width: 50px;
	height: 50px;
}

header {
	position: fixed;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
}

header,
main {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	scroll-snap-align: start;
	scroll-padding-top: 100px;
	position: relative;
}

.hero article p {
	font-weight: 300;
}

.hero figure img {
	max-height: 50vh;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	overflow: hidden;
}
.list-style-none {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav {
	z-index: 900;
}

.vertical-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100vh;
	height: 100px;
	position: fixed;
	transform: rotate(-90deg) translateX(100px) translateY(calc(-100vh + 100px));
	display: flex;
	align-items: center;
	transform-origin: bottom right;
	padding-left: 20px;
}

.vertical-nav li {
	margin-left: 1.5rem;
}

.vertical-nav li a {
	white-space: nowrap;
	color: #fff;
	padding: 0.5rem 0;
	text-decoration: none;
}

.vertical-nav li a:active,
.vertical-nav li a:hover,
.active {
	border-bottom: 2px solid var(--primary-colour);
}

.social-nav {
	position: fixed;
	bottom: 40px;
	right: 0;
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.social-nav a {
	display: inline-block;
	padding: 1rem;
	border-left: 2px solid transparent;
}

.social-nav a:hover {
	border-left: 2px solid var(--primary-colour);
}

.arrow-right {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	transition: transform 0.5s;
	transform: translateX(0px);
}

.arrow-right::after,
.arrow-right::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
}

.arrow-right::before {
	right: 0;
	top: -1px;
	height: 2px;
	width: 20px;
	transition: width 0.5s;
	background: var(--primary-colour);
}

.arrow-right::after {
	width: 10px;
	height: 10px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(-50%) rotate(45deg);
}

.link:hover .arrow-right,
.service:hover .arrow-right {
	transform: translateX(10px);
}

.link:hover .arrow-right::before,
.service:hover .arrow-right::before {
	transition: width 0.5s;
	width: 30px;
}

.decorators,
.decorators img {
	position: absolute;
}

.decorator-rect {
	top: -750px;
	left: -480px;
}

.decorator-square {
	top: -680px;
	left: 1080px;
}

.decorator-triangle {
	top: 330px;
	left: 800px;
}

.what-we-do {
	display: flex;
}

.what-we-do article {
	flex-basis: 33.3%;
}

.service {
	margin-bottom: 2rem;
	cursor: pointer;
}

.desc-wrapper {
	align-self: flex-start;
	margin-top: calc(((100vh - 621.9px) / 2) + 100.3px);
	max-height: 421.3px;
	overflow-y: auto;
}

.service.active-service h3 {
	color: var(--primary-colour);
}

.service [class^="arrow"] {
	display: none;
}

.service.active-service [class^="arrow"] {
	display: inline-block;
}

.service h3 {
	margin-bottom: 0.75rem;
	font-weight: 500;
}

.service h3 + p {
	margin: 0;
	margin-top: 0;
}

.service p {
	margin: 0;
	margin-bottom: 1rem;
}

.service-desc {
	overflow: hidden;
	/* border: 1px solid slateblue; */
}

.contact article {
	width: 45%;
}

.detail {
	margin: 1.5rem 0;
	display: flex;
	justify-content: space-between;
	color: #666;
}

.detail > * {
	width: 45%;
}

.detail .title {
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.detail .content {
	font-size: 0.9rem;
}

.contact-form {
	width: 100%;
	max-width: 400px;
	float: right;
}

.contact-form input,
.contact-form textarea {
	height: 50px;
	color: #fff;
	display: block;
	margin: 1.5rem 0;
	width: 100%;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #666;
	font-size: 0.9rem;
}
.contact-form textarea {
	height: 100px;
	resize: none;
}

.contact-form button {
	background-color: var(--primary-colour);
	color: #fff;
	padding: 0.75rem 2rem;
	border: none;
	border-radius: 10px;
}

@media screen and (max-width: 991px) {
	html {
		scroll-snap-type: none;
	}
	header {
		padding: 0 2rem;
		height: 50px;
		background-color: #000;
	}
	main {
		padding: 0 2rem;
	}
	.contact-form input {
		margin: 2rem 0;
	}
	.what-we-do {
		flex-direction: column;
		align-items: normal;
		margin-top: 130px;
	}
	.what-we-do h2 {
		margin-bottom: 40px;
	}
}

.font-sm {
	font-size: 0.8rem;
}
