:root {
	--primary-colour: #e20f37;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #fff;
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
}

#app {
	width: 100vw;
	min-height: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	scroll-behavior: smooth;
	/*
		There exists a bug in Firefox that causes main container to
		shift to left when the scrollbar is clicked.

		::-webkit-scrollbar is a nonstandard pseudoselector that works on
		webkit browsers (Safari, Chrome, ...). In cosmic convenience, the
		only standards-compliant browser that implements the `scrollbar-width`
		rule is Firefox. This rule will hide the scrollbar, but only on
		Firefox.

		If this issue is no longer reproduceable in a future version,
		this rule should be removed.
	*/
	scrollbar-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	margin-top: 1rem;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
}

h2 {
	font-size: 2rem;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

p {
	font-weight: 300;
}

a {
	color: var(--primary-colour);
	font-weight: 400;
}

a:hover,
button:hover {
	cursor: pointer;
}

body {
	background-color: #000;
}

figure {
	margin: 0;
}

header {
	position: fixed;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
}

header,
main {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	scroll-snap-align: start;
	/* scroll-padding-top: 100px; */
	position: relative;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.h-0 {
	height: 0 !important;
}

.w-0 {
	width: 0 !important;
}

.text-right {
	text-align: right !important;
}
.list-style-none {
	list-style: none;
	padding: 0;
	margin: 0;
}

.logo {
	width: 50px;
	height: 50px;
}

.hero div.article p {
	font-weight: 300;
}

.hero figure img {
	max-height: 50vh;
}
.nav {
	z-index: 700;
}

.nav-opener,
.nav-closer {
	cursor: pointer;
	display: none;
}

.nav-closer {
	width: 20px;
	height: 20px;
}

.vertical-nav {
	width: 100vh;
	height: 100px;
	position: fixed;
	transform: rotate(-90deg) translateX(100px) translateY(calc(-100vh + 100px));
	display: flex;
	align-items: center;
	transform-origin: bottom right;
	padding-left: 20px;
}

.vertical-nav li {
	margin-left: 1.5rem;
}

.vertical-nav li a {
	white-space: nowrap;
	color: #fff;
	padding: 0.5rem 0;
	text-decoration: none;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.vertical-nav li a:active,
.vertical-nav li a:hover,
.main-nav-active-item {
	border-bottom: 2px solid var(--primary-colour) !important;
}

.social-nav {
	position: fixed;
	bottom: 40px;
	right: 0;
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-nav li {
	transform: rotate(90deg);
}

.social-nav a {
	display: inline-block;
	padding: 1rem;
	border-bottom: 2px solid transparent;
}

.social-nav a:hover {
	border-bottom: 2px solid var(--primary-colour);
}

.arrow-right {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	transition: transform 0.5s;
	transform: translateX(0px);
}

.arrow-right::after,
.arrow-right::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
}

.arrow-right::before {
	right: 0;
	top: -1px;
	height: 2px;
	width: 20px;
	transition: width 0.5s;
	background: var(--primary-colour);
}

.arrow-right::after {
	width: 10px;
	height: 10px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(-50%) rotate(45deg);
}

.link:hover .arrow-right,
.service:hover .arrow-right {
	transform: translateX(10px);
}

.link:hover .arrow-right::before,
.service:hover .arrow-right::before {
	transition: width 0.5s;
	width: 30px;
}

.decorators,
.decorators img {
	position: absolute;
}

.decorator-rect {
	top: -750px;
	left: -480px;
}

.decorator-square {
	top: -680px;
	left: 1080px;
}

.decorator-triangle {
	top: 330px;
	left: 800px;
}

.about-us div.article:nth-child(1) {
	flex: 2;
}

.about-us div.article:nth-child(2) {
	flex: 3;
}

.dashboard-wrapper {
	height: 100vh;
	position: relative;
}

.dashboard-wrapper svg {
	width: 100%;
	height: 100%;
	overflow: visible;
}

#post,
#post-icon,
#activity,
#activity-icon {
	transform: translateY(0) translateX(0);
}

.what-we-do div.article {
	flex-basis: 33.3%;
}

.service {
	margin-bottom: 2rem;
	cursor: pointer;
}

.desc-wrapper {
	align-self: flex-start;
	margin-top: calc(((100vh - 621.9px) / 2) + 100.3px);
	max-height: 421.3px;
	overflow-y: auto;
}

.service.active-service h3 {
	color: var(--primary-colour);
}

.service [class^="arrow"] {
	display: none;
}

.service.active-service [class^="arrow"] {
	display: inline-block;
}

.service h3 {
	margin-bottom: 0.75rem;
}

.service h3 + p {
	margin: 0;
	margin-top: 0;
}

.service p {
	margin: 0;
	margin-bottom: 1rem;
}

.service-desc {
	overflow: hidden;
}

.fog {
	background-color: white;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 500;
	transition: opacity 300ms ease-in-out;
}

.fade-out {
	opacity: 0;
}

.contact div.article {
	width: 45%;
}

.detail {
	margin: 2rem 0;
	display: flex;
	justify-content: space-between;
	color: #666;
}

.detail > * {
	width: 45%;
}

.detail .title {
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.detail .content {
	font-size: 0.9rem;
}

.contact-form {
	width: 100%;
	max-width: 400px;
	float: right;
}

.contact-form input,
.contact-form textarea {
	height: 50px;
	color: #fff;
	display: block;
	margin: 1.5rem 0;
	width: 100%;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #666;
	font-size: 0.9rem;
}
.contact-form textarea {
	height: 100px;
	resize: none;
}

.contact-form button {
	background-color: var(--primary-colour);
	color: #fff;
	padding: 0.75rem 2rem;
	border: none;
	border-radius: 10px;
}
.desc-closer {
	display: none;
}

@media screen and (max-width: 1400px) and (min-width: 900px) {
	header,
	main {
		max-width: calc(100vw - 18vw);
	}
}

@media screen and (max-width: 900px), screen and (max-height: 540px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.1rem;
	}
	#app {
		scroll-snap-type: none;
	}
	header {
		padding: 0 2rem;
		height: 50px;
		z-index: 500;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	main {
		padding: 0 2rem;
		margin-top: 130px;
	}
	main > section {
		min-height: auto;
		margin-bottom: 2rem;
	}
	.hero {
		flex-direction: column-reverse;
		align-items: normal;
	}
	.about-us,
	.what-we-do,
	.contact {
		flex-direction: column;
		align-items: normal;
	}
	.hero div.article {
		order: 2;
		margin: 2rem 0;
	}
	.hero figure {
		align-self: center;
	}
	.about-us div.article:nth-child(1) {
		margin-bottom: 1.5rem;
	}
	
	.about-us div.article:nth-child(2) {
		width: 80%;
		margin-right: -2rem;
		margin-left: auto;
	}
	.what-we-do h2 {
		margin-bottom: 1.5rem;
	}
	.article.hide-active .service.active-service h3 {
		color: white;
	}
	.article.article.hide-active .service.active-service [class^="arrow"] {
		display: none;
	}
	.service i {
		display: none !important;
	}
	.desc-wrapper {
		position: fixed;
		padding: 2rem;
		bottom: 0;
		left: 0;
		right: 0;
		transform: translateY(calc(50vh + 4rem));
		min-height: 50vh;
		max-height: 100vh;
		overflow-y: auto;
		background-color: #000;
		margin-top: 0;
		z-index: 900;
		transition: transform 300ms ease-in-out;
	}
	.show.desc-wrapper {
		transform: translateY(0);
	}
	.desc-closer {
		display: block;
		float: right;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
	.desc-closer + * {
		clear: right;
		margin-top: 2rem;
	}
	.contact div.article {
		width: 100%;
	}
	.contact-form {
		float: unset;
		max-width: none;
	}
	.contact-form input {
		margin: 2rem 0;
	}
	.nav-panel {
		transition: all 100ms ease-in-out;
		position: fixed;
		display: flex;
		flex-direction: column;
		top: 0;
		right: 0;
		left: 0;
		overflow-y: hidden;
		overflow-x: hidden;
		background-color: #000;
		z-index: 600;
		padding: 0 2rem;
		bottom: 100%;
		align-items: flex-end;
	}
	.nav-open.nav-panel {
		bottom: 0%;
		padding: 2rem;
	}
	.nav-opener,
	.nav-closer {
		height: 32px;
		display: inline-block;
	}
	.nav-closer {
		/* to match with the opener's position */
		margin-top: 9px;
	}
	.nav {
		position: static;
	}
	.vertical-nav,
	.social-nav {
		width: auto;
		height: auto;
	}
	.vertical-nav {
		transform: none;
		flex-direction: column-reverse;
		align-items: flex-end;
		margin-top: 50px;
	}
	.vertical-nav li {
		margin-bottom: 1rem;
	}
	.social-nav {
		flex-direction: row;
		justify-content: end;
		margin-top: auto;
		margin-left: auto;
		bottom: 50px;
		right: 2rem;
	}
	.social-nav li {
		transform: none;
	}
	.detail {
		flex-direction: column;
	}
	.detail > div:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

.font-sm {
	font-size: 0.8rem;
}
